body{
    background-color: greenyellow;
}

.form1{
    background:#ffff;
    height: 500px;
    width: 600px;
    border: 2px solid yellow;
    border-radius: 5px;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.interest1, .number1, .select1 {
    outline: 0;
  background: #f2f2f2;
  width: 80%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.calc {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
}